[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage-badge = "*"
mypy = "*"
pylint = "*"
jedi = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-babelex = "*"
cryptography = "*"
flask-wtf = "*"
flask-cors = "*"
bootstrap-flask = "*"

[requires]
python_version = "3.5"
